DATABASE_URL="postgresql://postgres:ASDFGHJKLasdfghjkl!@#$%^&*()1234567890@db.anjgmzmdibxkizykzrrp.supabase.co:5432/postgres"
JWT_SECRET="zentro_jwt_secret_2026_key"
SESSION_SECRET="zentro_session_secret_2026_key"
ENCRYPTION_KEY="0123456789abcdef0123456789abcdef"
FRONTEND_URL="https://zentro-drive.vercel.app"
OPENWA_API_URL="https://drive-2gz4.onrender.com"
OPENWA_SESSION_ID="default"
OPENWA_API_KEY="zentro_openwa_master_key_2026_secret"
STORAGE_PROVIDER="LOCAL"
NODE_ENV="production"

